<div style="display: grid; grid-template-columns: repeat(2, 1fr);">
  <div>
    <h1 class="titulos" style="text-align: center;"> Desarrolladores </h1>
    <p class="infoo"> <img src="https://i.postimg.cc/t4XY2sRq/perfil.png"> Isael Machuca Enriquez </p>
    <p class="infoo"> <img src="https://i.postimg.cc/FF3g7CT2/perfil-1.png  "> Leslie Amaya Lugo </p>
    <p class="infoo"> <img src="https://i.postimg.cc/t4XY2sRq/perfil.png"> Cesar García Felix </p>
    <h1 class="titulos" style="margin-left: 50px;"> Level Water <img
        src="https://i.postimg.cc/KjftTTsW/el-ciclo-del-agua.png"></h1>
    <p class="info"> Con el proyecto "Level Water" se pretende obtener la toma del nivel del agua por
      medio de un sensor ultrasónico y un microcontrolador que se colocará en la parte superior del prototipo de
      una cisterna, el cual enviará la información de el porcentaje de nivel de agua que
      contiene, a través de internet. También dentro de esta página web quedará
      el registro de cada toma que se realice.</p>
  </div>
  <div>
    <img class="imagenes" width="450" height="450" alt="Cisterna de agua"
      src="https://i.postimg.cc/1R7kWtGG/silo.png" />
  </div>
</div>