
<mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile [colspan]="1" [rowspan]="8">
        <div style=" text-align: center;" class="content" role="main">
            <label style="font-size: xx-large;">Nivel actual: </label>
            <label style="font-size: xx-large;color: blue; font-weight: bold;">{{this.ValorActualNivel}} %</label>
            <br><br>
            <label style="font-size: xx-large;">Volumen actual: </label>
            <label style="font-size: xx-large;color: blue; font-weight: bold;">{{this.ValorActualVolumen}} ml</label>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width:{{this.ValorActualNivel}}%" aria-valuenow="75"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </mat-grid-tile>


    <mat-grid-tile [colspan]="2" [rowspan]="6">
        <div style="background-color: white; margin-right: 100px; margin-left: 100px; " class="chart-container">
            <canvas id="MyChart" style="width: 900px;height: auto;">{{chart}}</canvas>
        </div>
    </mat-grid-tile>
</mat-grid-list>